<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SimpleTchat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
    <body>
        <h2>Sign up</h2>
        <form name="connection" action="register" method="post">
            {% module xsrf_form_html() %}
            <input required name="username" type="text" placeholder="Username">
            <input required name="password" type="password" placeholder="Password">
            <button type="submit">
                Go
            </button>
        </form>
    </body>
</html>
