<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SimpleTchat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <section class="hero is-primary" style="position: fixed !important; top: 0; left: 0; right: 0; z-index: 255;">
            <!-- Hero head: stick at the top -->
            <div class="hero-head">
                <header class="nav">
                    <div class="container">
                        <div class="nav-left">
                            <a class="nav-item is-active">
                                <span class="icon">
                                    <i class="fa fa-commenting"></i>
                                </span>
                                <span>SimpleTchat</span>
                            </a>
                        </div>
                        <span id="menu_toggle" class="nav-toggle">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                        <div id="menu_content" class="nav-right nav-menu">
                            <span class="nav-item" id="channel_selector">
                                <!-- channel selection input -->
                            </span>
                            <span class="nav-item">
                                <a class="button is-primary is-inverted" href="/logout">
                                    <span class="icon">
                                        <i class="fa fa-sign-in"></i>
                                    </span>
                                    <span>Sign out</span>
                                </a>
                            </span>
                            <span class="nav-item">
                                <a class="button is-primary is-inverted" href="https://github.com/toast254/SimpleTchat">
                                    <span class="icon">
                                        <i class="fa fa-github"></i>
                                    </span>
                                    <span>Fork</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </header>
            </div>
        </section>
        <section class="section is-small" style="padding-top: 70px; padding-bottom: 70px;">
            <!-- Hero content: will be in the middle -->
            <div class="container" id="inbox">
                <div class="has-text-centered">
                    <button class="button is-primary is-loading" disabled></button>
                </div>
            </div>
        </section>
        <script src="https://unpkg.com/react@latest/dist/react.min.js"></script>
        <script src="https://unpkg.com/react-dom@latest/dist/react-dom.min.js"></script>
        <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
        <script type="text/javascript" src="{{ static_url('js/menu_toggle.js') }}"></script>
        <script type="text/babel" src="{{ static_url('js/room.js') }}"></script>
    </body>
</html>
